src/main/java/xtension/services/SendExemptionStatusToIPMIS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wira="http://workpoint.co.ke/IPMIS/SendExemptionStatusToIPMIS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SendExemptionStatusToIPMIS" targetNamespace="http://workpoint.co.ke/IPMIS/SendExemptionStatusToIPMIS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://workpoint.co.ke/IPMIS/SendExemptionStatusToIPMIS/">
      <xsd:element name="sendExemptionStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExemptionStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExemptionStatus">
      	<xsd:attribute name="exm_id" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="status" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="ExemptionStatusResponse">
      	<xsd:sequence>
      		<xsd:element name="exm_id" type="xsd:string"></xsd:element>
      		<xsd:element name="status" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendExemptionStatusRequest">
    <wsdl:part name="exceptionStatus" type="wira:ExemptionStatus"/>
  </wsdl:message>
  <wsdl:message name="sendExemptionStatusResponse">
    <wsdl:part name="exemptionStatusResponse" type="wira:ExemptionStatusResponse"/>
  </wsdl:message>
  <wsdl:portType name="SendExemptionStatusToIPMIS">
    <wsdl:operation name="sendExemptionStatus">
      <wsdl:input message="wira:sendExemptionStatusRequest"/>
      <wsdl:output message="wira:sendExemptionStatusResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendExemptionStatusToIPMISSOAP" type="wira:SendExemptionStatusToIPMIS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendExemptionStatus">
      <soap:operation soapAction="http://workpoint.co.ke/IPMIS/SendExemptionStatusToIPMIS/sendExemptionStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendExemptionStatusToIPMIS">
    <wsdl:port binding="wira:SendExemptionStatusToIPMISSOAP" name="SendExemptionStatusToIPMISSOAP">
      <soap:address location="http://workpoint.co.ke/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
